.app-sigin{
display: flex;
flex-direction: column;
width: 100%;
height:1000px ;
}

.app-sigin-section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 450px;
    border-bottom: 1px solid #1818cf;
}

.sigin-left {
    width: 50%;
    
    height: 450px;
}

.sigin-left h2{
font-size: 70px;
color: #5861AE;
}


.app-userform {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 449px;
    background-color: ghostwhite;
}

.sigin-left #sigin-p2 {
font-size: 14px;
letter-spacing: 0.64px;
color: #565657;
text-transform: capitalize;
}

input#password {
    margin-left: 100px;
    width: 270px;


.app-userform p{
font-size: 26px;
letter-spacing: 1.28px;
color:#4552C1;
margin-bottom: 50px;
}


button.signin {
    height: 30px;
    width: 90px;
    color: #f7f5f5;
    background-color: #4552C1;
    /* border-color: white; */
    border-radius: 4px;
    padding: 5px;
    margin-top: 75px;
    margin-left: 157px;
  }

.app-userform input{
text-decoration: none;
outline: none;
border: none;
width: 300px;
margin-bottom: 30px;
background-color:transparent ;
border-bottom: 2px solid #5861AE;
}


.sigin-left h4 {
    font: normal normal normal 20px/26px Avenir;
    letter-spacing: 0.8px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 100px;
    margin-bottom: 65px;
    margin-top: 38px;
  }
  
.app-userform .user-forgot{
text-decoration: none;
color:#4552C1;
margin-bottom: 50px;
margin-right: 0;
}

.app-userform a{
text-decoration: none;
border: none;
outline: none;
}
  
.sigin-left p {
    font: normal normal normal 16px/26px Avenir;
    letter-spacing: 0.64px;
    color: #565657;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 100px;
}

.sigin-left h2 {
    height: auto;
    border: none;
    margin-top: 100px;
    font-size: xxx-large;
    margin-left: 100px;
    color: #5861AE;
}
.app-userform input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #81b1d7;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    margin-left: 100px;
    width: 270px;
}
.app-userform label {
    margin-left: 100px;
    margin-top: 11px;
    margin-bottom: 6px;
    color: #5050d7;
}
a.forgot {
    margin-top: 10px;
    margin-left: 285px;
}
