.app-past-orders{
height:500px;
width: 100%;
display: flex;
}

.app-orders{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}
.app-orders thead tr{
background-color:#383737 ;
color: white;
}
.app-orders th,td{
padding:20px;
}

.app-orders td,th{
box-shadow: 0px 0px 2px #707070;
}